.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
}

.slide img {
  width: 400px;
  height: auto;
}
.slide.active {
  display: block;
}
